#container {
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}
body {
	font: large sans-serif;
}
.win {
	background-color: green
}
.lose {
	background-color: red
}